/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
}

.footer-text {
    margin: 0;
}

/* Education Timeline */
.education-timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    margin: 20px auto;
    width: 900px;
}

.education-timeline-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 30px;
    padding-left: 40px;
}

.education-timeline-item::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    left: 17%;
    top: 5px;
}

.education-timeline-item::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ddd;
    left: 17.45%;
    top: 20px;
    z-index: -1;
}

.education-timeline-item:last-child::after {
    height: 0;
}

.education-timeline-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.education-timeline-date {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
}

.education-timeline-degree {
    display: block;
    font-weight: bold;
    color: #222;
}

.education-timeline-range {
    display: block;
    font-size: 0.85em;
    color: #888;
}

.education-timeline-info h4 {
    margin: 5px 0;
    font-size: 1.2em;
    color: #333;
}

.education-timeline-info ul {
    margin: 0;
    font-size: 0.95em;
    color: #666;
    line-height: 1.4;
    list-style-type: none;
    padding-left: 1rem;
}

.education-timeline-info ul p {
    margin: 0;
    color: #666;
    line-height: 1.4;
}

.education-timeline-image {
    margin-right: 70px;
    left: 0;
}

.education-timeline-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.right-align {
    float: right;
}

.transcript-icon-hover-effect {
    color: #F4A460;
}

.transcript-icon-hover-effect:hover {
    color: #D2691E;
    transform: scale(1.1);
    transition: transform 0.2s, color 0.2s ease;
}

@media (max-width: 768px) {
    .education-timeline-item {
        padding: 10px;
    }

    .education-timeline-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .education-timeline-item {
        padding: 5px;
    }

    .education-timeline-container {
        width: 100%;
    }
}


/* NewspaperCard */

.newspaper-card {
    background: linear-gradient(to bottom, rgba(222, 222, 222, 1), rgba(200, 200, 200, 1)) !important;
    border: 1px solid #ccc !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
        0 2px 5px rgba(0, 0, 0, 0.08);
    font-family: 'Times New Roman', Times, serif !important;
    max-width: 800px !important;
    margin: 20px auto !important;
    padding: 20px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 2px 4px rgba(0, 0, 0, 0.08) !important;
    margin-top: 30px !important;
}

.newspaper-card:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-image: url("../../public/paper-clip-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1) rotate(-20deg);
}

.newspaper-card:after {
    content: "";
    position: absolute;
    top: -20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-image: url("../../public/paper-clip-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-20deg);
}

.newspaper-title {
    font-family: 'UnifrakturMaguntia', serif;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 2px;
}

.newspaper-content {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    color: #333;
}

.newspaper-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
}

.newspaper-content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.newspaper-content a {
    color: #000;
    text-decoration: underline;
}

.newspaper-content a:hover {
    color: #007bff;
}

.newspaper-content strong {
    font-weight: bold;
}

.newspaper-divider {
    border-top: 1px solid #999;
    margin: 20px 0;
}

/* ChalkboardCard */

.chalkboard-card {
    background-image: url('../../public/blank-chalkboard-background-with-border.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
}

.chalkboard-title {
    font-size: 1.3rem;
    font-family: 'Cabin Sketch', sans-serif;
    margin-bottom: 10px;
}

.chalkboard-description {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.chalkboard-list {
    list-style: none;
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
}

.chalkboard-list-item {
    font-size: 0.8rem;
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 5%;
}


/* project card styles */
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px !important;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
    width: 100%;
    height: auto;
    max-height: 100px;
    border-bottom: 1px solid #ddd;
    margin: 5px auto;
}

.project-card .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.project-card .subtitle {
    font-size: 0.8rem;
    color: #6c757d;
}

.project-card .text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #333;
}

.project-card .link {
    margin-top: 1rem;
    text-align: center;
}

.project-card .link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.project-card .link a:hover {
    text-decoration: underline;
}

.fixed-height-img {
    height: 150px !important;
    object-fit: cover;
}

.keywords-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.keyword-capsule {
    background-color: #6B8E23;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 5px;
    font-size: 0.7rem;
}

/* Hover effect: scale up the card and add shadow */
.project-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}



/* Modal */

.modal-time {
    font-size: 0.875rem;
    color: #6c757d;
    margin-top: -0.5rem;
    margin-bottom: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}